# Python & Ambientes Virtuais
.venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Configurações & Segredos
.env
!.env.example

# MLOps & Tracking Local
mlruns/
mlflow.db
.pytest_cache/
.ruff_cache/

# Dados Pesados de Treinamento
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/deeppcb_raw/
data/kaggle_raw/
data/kaggle_patches/
data/telemetry/*
!data/telemetry/.gitkeep
scratch/

# IDEs & SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documentos Locais / Confidenciais
INTERVIEW_PLAYBOOK.md

