apiVersion: v1
kind: Secret
metadata:
  name: positivo-vision-secrets
  namespace: positivo-vision
  labels:
    app.kubernetes.io/name: positivo-vision-mlops
type: Opaque
stringData:
  ADMIN_BYPASS_KEY: "positivo_audit_bypass_key_2026"
  OPENCODE_API_KEY: ""
  DAGSHUB_TOKEN: "4882b033f12f3af1a028acc61d22d5ec6a266b8b"
  MLFLOW_TRACKING_USERNAME: "henriquebotelhogomes"
  MLFLOW_TRACKING_PASSWORD: "4882b033f12f3af1a028acc61d22d5ec6a266b8b"
